{% load l10n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Інформація про земельну ділянку №{{ land.cadnum }}</title>

     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <style>
        #mapid {
            height: 350px;
            width: 350px
        }
    </style>
</head>
<body>
<div class="content" style="margin: 30px">

    <h1>Інформація про земельну ділянку №{{ land.cadnum }}</h1>

    <div>
        <div style="display: inline-block; vertical-align: top;">
            <table class="pure-table pure-table-horizontal">
                <tbody>
                <tr>
                    <td>Кадастровий номер</td>
                    <td>{{ land.cadnum }}</td>
                </tr>
                <tr>
                    <td>площа</td>
                    <td>{{ land.area }} {{ land.unit_area }}</td>
                </tr>
                <tr>
                    <td>власність</td>
                    <td>{{ land.ownership|default:"немає даних" }}</td>
                </tr>
                <tr>
                    <td>використання</td>
                    <td>{{ land.use|default:"немає даних" }}</td>
                </tr>
                <tr>
                    <td>призначення</td>
                    <td>{{ land.purpose|default:"немає даних" }}</td>
                </tr>
                <tr>
                    <td>категорія</td>
                    <td>{{ land.category|default:"немає даних" }}</td>
                </tr>
                <tr>
                    <td>адреса</td>
                    <td>{{ land.address|default:"немає даних" }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="display: inline-block;">
            <div id="mapid"></div>
        </div>
    </div>

    <div>
        <h2>Історія</h2>
        <p>Відображаються зміни у інформації про земельну ділянку.</p>

        {% for parcel in history %}
            <span>{{ forloop.counter }}. Оновлення даних {{ parcel.0.revision.created_at }}.</span><br>


                <span>Зміна інформації</span>
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr>
                        {% if parcel.0.cadnum %}<td>До {{ parcel.0.revision.created_at }}</td>{% endif %}
                        <td>Після {{ parcel.1.revision.created_at }}</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% if parcel.0.purpose != parcel.1.purpose %}
                    <tr>
                        {% if parcel.0.cadnum %}<td style="background-color: #ffe7e7">{{ parcel.0.purpose }}</td>{% endif %}
                        <td style="background-color: #d2ffd2">{{ parcel.1.purpose }}</td>
                    </tr>
                    {% endif %}

                    {% if parcel.0.ownership != parcel.1.ownership %}
                    <tr>
                        {% if parcel.0.cadnum %}<td style="background-color: #ffe7e7">{{ parcel.0.ownership }}</td>{% endif %}
                        <td style="background-color: #d2ffd2">{{ parcel.1.ownership }}</td>
                    </tr>
                    {% endif %}

                    {% if parcel.0.use != parcel.1.use %}
                    <tr>
                        {% if parcel.0.cadnum %}<td style="background-color: #ffe7e7">{{ parcel.0.use }}</td>{% endif %}
                        <td style="background-color: #d2ffd2">{{ parcel.1.use }}</td>
                    </tr>
                    {% endif %}

                    {% if parcel.0.geometry != parcel.1.geometry %}
                    <tr>
                        {% if parcel.0.cadnum %}<td style="background-color: #ffe7e7">{{ parcel.0.geometry.json }}</td>{% endif %}
                        <td style="background-color: #d2ffd2">{{ parcel.1.geometry.json }}</td>
                    </tr>
                    {% endif %}
                    </tbody>

                </table>

            <hr>
        {% endfor %}
    </div>

</div>


<script>
    {% localize off %}
    var point = new L.Point({{land.point.x}}, {{land.point.y}});
    {% endlocalize  %}
    var map = L.map('mapid').setView([point.y, point.x], 16);


    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        maxNativeZoom: 25
    }).addTo(map);

    var marker = new L.Marker([point.y, point.x], {bounceOnAdd: true}).addTo(map);

    var geojsonFeature = {
        "type": "Feature",
        "properties": {
            "name": "Coors Field",
            "amenity": "Baseball Stadium",
            "popupContent": "This is where the Rockies play!"
        },
        "geometry": {{ land.geometry.json | safe }}
    };
    L.geoJSON(geojsonFeature).addTo(map);
</script>
</body>
</html>
