{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Перелік замельних ділянок земельного кадастру України</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "favicon/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "favicon/safari-pinned-tab.svg" color="#5bbad5" %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static "style.css" %}">

</head>
<body>
<div class="content">
    <div>
        <h1>Перелік відомих земельних ділянок</h1>
    <table>
        <thead>
        <tr>
            <td><b>Номер</b></td>
            <td><b>Цільове призначення</b></td>
            <td><b>Адреса</b></td>
        </tr>
        </thead>
        {% for landuse in page_obj %}
            <tr>
                <td style="min-width: 200px"><a href="{% url "cad_info" landuse.cadnum %}">{{ landuse.cadnum }}</a></td>
                <td style="min-width: 200px">{{ landuse.purpose_code }}</td>
                <td>{{ landuse.address|default:"невідомо" }}</td>
            </tr>
        {% endfor %}

    </table>


    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; перша</a>
                <a href="?page={{ page_obj.previous_page_number }}">попередня</a>
            {% endif %}

            <span class="current">
                Сторінка {{ page_obj.number }} з {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">наступна</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">остання &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
</div>
</body>
</html>
